// overwrite fonts path for bootstrap
$icon-font-path: "../fonts/";

@import "bower_components/twbs-bootstrap-sass/vendor/assets/stylesheets/bootstrap";

#mainContent {
  margin-top: 70px;
}

#catalog-bar {
  margin-bottom: 30px;
}

.col-sm-12 .caption {
  float: left;
  width: 60%;
}